<!DOCTYPE html>
<html>
<head>
    <title>iK ejs html</title>
    <link rel='stylesheet' href='/static/ikcss.css'>
</head>
<body>
   <h1>Mohamad Rechad Kheerdali</h1> 
   <p><%= iKparagraph %></p>
</body>
</html>